.color-picker-page-container {
  margin: 2rem 6rem;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 15px;
}

.left-col {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: start;
  gap: 10px;

  color: #000;
}

.right-col {
  background-color: var(--dark-color);
  padding: 0.5rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  margin: 0 5rem;
  margin-left: 1rem;
}

.no-img_right-col {
  margin: 0 10rem;
}

.color-dropper-container p,
.selected-color-container p {
  margin-bottom: 5px;
}

.color-dropper-container,
.selected-color-container,
.login-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.open-picker-btn,
.selected-color,
.save-btn {
  width: 100%;
  border-radius: 5px;
  padding: 0.25rem 8rem;
  box-sizing: border-box;
}

.open-picker-btn {
  background-color: rgb(198, 194, 194);
}

.open-picker-btn:hover {
  background-color: rgb(158, 158, 158);
}

.color-text-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.selected-color {
  height: 80px;
  border: solid 1px #9c9c9c;
  border-radius: 10px;
  margin-bottom: 5px;
}

.copied-color-msg {
  font-size: 10px;
  padding: 2px;
  border-radius: 5px;
  background-color: #535353;
  color: #fff;
}

.img-col-container {
  min-width: 100%;
}

.img-container {
  margin-top: 1rem;
  border-radius: 10px;
}

.img-container img {
  border-radius: inherit;
  width: 100%;
  height: auto;
}

.img-container-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  border: dashed 1px grey;
  min-width: 520px;
  max-width: 800px;
  height: auto;
  aspect-ratio: 2/1;
}

input[type="file"] {
  margin-top: 15px;
  align-self: start;
  color: var(--light-grey);
}

input[type="file"]::file-selector-button {
  border: none;
  background-color: #ccb1a6;
  border-radius: 3px;
}
