.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-color);
  color: #fff;
  padding: 0 2rem;
}

.logo {
  height: 65px;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  margin-bottom: 0;
}

.nav_links p {
  cursor: pointer;
  margin-bottom: 0;
}

.nav-icon {
  color: #fff;
}
