.palettes {
  gap: 1.5em;
  margin: 2em 4em;
  overflow-y: auto;
  max-height: 70vh;
}

/* Universal Palette Styles */
.palette {
  background-color: var(--dark-color);
  height: 7.5em;
  border-radius: 1em;
  display: flex;
  justify-content: space-evenly;
  padding: 5.5px;
}

/* If User has atleast two saved palettes */
#two-plus-palettes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5em;
}

/* If User has only one saved palette */
#single-palette {
  display: grid;
  place-items: center;
}

.delete-palette {
  text-align: right;
}

.delete-palette button {
  font-size: 12pt;
  color: #DB4C40;
}

.color {
  height: 5em;
  width: 5em;
  border-radius: 100;
  border: #fff 1pt solid;
}

.color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

h5 {
  font-weight: lighter;
  text-align: center;
}

.hex-code {
  font-size: 0.8em;
  color: #fff;
  font-weight: 500;
}

#message {
  display: flex;
  justify-content: center;
  text-align: center;
  background: none;
  background-color: whitesmoke;
}

#message button {
  font-weight: 400;
  font-size: 15px;
  border-radius: 1.5em;
  padding: 0.5em 1em;
}
